#dp{
  margin-inline: 500px;
}
#dp figcaption{
  margin-inline: 70px;
}

#details-form{
  border: 2px solid black;
  margin-inline: 500px;
  padding: 10px;
}

header{
  margin-inline: 500px;
}

button{
  margin-top: 10px;
  margin-inline: 585px;
}